extends ../layout.pug

block content
    section.breadcrumps 
        a(href="/")
            | Главная 
            |  > 
        span О нас
    section.about-items
        .about-item
            h2.about-item__title.about-item__title_mob КОРПОРАТИВЫ
            .about-item__image(style=`background-image: url("images/photos/teambilding-za-gorodom-04.jpg")`)
            .about-item__discription
                h2.about-item__title КОРПОРАТИВЫ
                p.font__octava--regular #Nestoinameste House предлагает организацию и проведение корпоративов для компаний. Индивидуальный подход. Широкий выбор на любой вкус. Отдыхай с удовольствием. 
    section.about-items
        .about-item
            h2.about-item__title.about-item__title_mob СЕМЕЙНЫЙ ОТДЫХ
            .about-item__image(style=`background-image: url("images/photos/relax_family.jpg")`)
            .about-item__discription
                h2.about-item__title СЕМЕЙНЫЙ ОТДЫХ
                p.font__octava--regular #Nestoinameste House предлагает организацию и проведение корпоративов для компаний. Индивидуальный подход. Широкий выбор на любой вкус. Отдыхай с удовольствием. 
    section.about-items
        .about-item
            h2.about-item__title.about-item__title_mob ДНИ РОЖДЕНИЯ
            .about-item__image(style=`background-image: url("images/photos/bd.jpg")`)
            .about-item__discription
                h2.about-item__title ДНИ РОЖДЕНИЯ
                .font__octava--regular
                    p Наслаждайся дням рождения в кругу своих друзей. Комфорт, уютные разговоры и драйвовая музыка. Живи позитивом сейчас. Звони,а мы сделаем все остальное)
                    p Новый вариант!
                    p Можно душевного тепла и радости, запредельное удовольствие и безбашенный отдых. 
                    p Как же ярко проводить свой день рождения в отличном месте, где все сделано для тебя. 
                    p Музыка, локация, напитки, игры, еда и многие другие элементы, станут настоящим чудесами для твоего дня рождения! 
                    p Вместе мы создадим лучший день для твоего отдыха! 
                    p Бери лучшее в жизни! Звони нам)
    section.about-items
        .about-item
            h2.about-item__title.about-item__title_mob СПОРТИВНАЯ ЗОНА
            .about-item__image(style=`background-image: url("images/photos/bb.jpg")`)
            .about-item__discription
                h2.about-item__title СПОРТИВНАЯ ЗОНА
                p.font__octava--regular Как же приятно отдыхать с пользой, получая азарт и удовольствие. 
                p.font__octava--regular #Nestoinameste House тщательно подготовил для тебя, друг, не только отличную локацию, но также и полный набор спортивных развлечений к ней.
                p.font__octava--regular В любой момент ты можешь "ворваться" в наше движение и получить драйв от следующего: 
                    br
                    | Волейбол, вейкборд, слейклайн, джамперы, бамперболы и много других сюрпризов. 
                p.font__octava--regular Будь готов шикарно отдохнуть и насладиться лучшими моментами отдыха с нами! 
                p.font__octava--regular Приходи! Здесь все свои! 
    section.about-items
        .about-item
            h2.about-item__title.about-item__title_mob ЛАУНДЖ ЗОНА
            .about-item__image(style=`background-image: url("images/photos/nestoimain.jpg")`)
            .about-item__discription
                h2.about-item__title ЛАУНДЖ ЗОНА
                p.font__octava--regular Мы создали одну из лучших лаунж зон для вас, друзья. 
                p.font__octava--regular Приятные и комфортные пуфы на берегу, кальяны и отличная душевная музыка, вкуснейшие напитки и закуски.
                p.font__octava--regular Вас ждут шикарные вечерние душевные посиделки, утренние рассветы, дневные развлечения.
                p.font__octava--regular Каждый из вас, друзья, для нас является родным человеком, для которого мы с удовольствием создадим праздник.  
                p.font__octava--regular Получай удовольствие уже сейчас!
    section.about-items
        .about-item
            h2.about-item__title.about-item__title_mob АРЕНДА
            .about-item__image(style=`background-image: url("images/photos/IMG_1669-min-2.jpg")`)
            .about-item__discription
                h2.about-item__title АРЕНДА
                p.font__octava--regular #Nestoinameste House презентует для тебя огромный выбор приятных сюрпризов для отдыха. Комфортная локация, кальяны, удобные пуфы, вместительные шатры, шикарный sunset с 2 этажа и многое другое.  
                p.font__octava--regular Relax! Все для тебя! Здесь все свои!
    section.about-items
        .about-item
            h2.about-item__title.about-item__title_mob КЕЙТЕРИНГ
            .about-item__image(style=`background-image: url("images/photos/IMG_2531-min-2-1024x683.jpg")`)
            .about-item__discription
                h2.about-item__title КЕЙТЕРИНГ
                p.font__octava--regular Аромат эксклюзивных блюд всегда радует гурмана. Мы рады представить отличное питание. И вместе с шикарным видом и драйвовой музыкой это рай, который создан для вас друзья.
    section.about-items
        .about-item
            h2.about-item__title.about-item__title_mob EVENT ЛОКАЦИЯ
            .about-item__image(style=`background-image: url("images/photos/disco.png")`)
            .about-item__discription
                h2.about-item__title EVENT ЛОКАЦИЯ
                ol(style="list-style-type: decimal;").font__octava--regular
                    li Event  локация
                        p Ты хочешь свой праздник провести по уникальной программе и реализовать свою фантазию на полную. 
                        p Наша Event локация полностью реализует любые твои мечты! 
                        p Отрывайся на полную уже сейчас! Ты достоин лучшего!
                        br
                    li Уникальная локация в одном из лучших парков г. Киева. 
                        p Расположение #Nestoinameste House позволяет проводить яркие и разностороние event мероприятия на любой вкус. 
                        P Есть большая территория, удобная почва (часть мероприятий можно проводить, как в траве, так и в воде и в песке), вся необходимая техника для аудиосопровождения. 
                        p А приятные сладости и вкусные напитки будут приятным бонусом хорошему отдыху. 
                        p Мы поможем вам, друзья, в организации любого торжества и праздника, который дорог вашему сердцу.
                        p Звони нам! Мы сделаем твой отдых отличным и запоминающимся!

                








 
            
            