extends ../layout.pug
block content
    .webgl-content
        #gameContainer(style='width: 960px; height: 600px')
        .fullscreen.default-button(onclick='gameInstance.SetFullscreen(1)').
            на весь екран
block script
    script(src='TemplateData/UnityProgress.js')
    script(src='Build/UnityLoader.js')
    script.
        var gameInstance = UnityLoader.instantiate("gameContainer", "Build/builds.json", {onProgress: UnityProgress});
        document.querySelector('.play-with-me').style.display = 'none';