extends ../layout.pug
block content
    .rent-layout
        include ../breadcrumps.pug
        section.rent-items
            each propose in rentData
                .rent-item__wrap
                    .rent-item(style='background-image: url(/images/photos/' + propose.image + ')')
                        .rent-item__title=propose.title
                        img.rent-item__logo(src="/images/particles/logo-rent.png", alt="", srcset="")
                        .rent-item__discriptions
                            each p in propose.p
                                p.rent-item__discription!=p
                        .rent-item__controlls
                            a.rent-item__telegram(href="https://t.me/nestoinameste27")
                                img(src="/images/social/telega.png", alt="", srcset="")
                                div.default-button Написать в телеграм
                            a.rent-item__call(href="tel:+380502420211")
                                div.default-button Позвонить
                            a
                                div.default-button.contact-form-action_js.default-button_menu Заказать звонок
                        img.rent-item__close(src="/images/particles/close-rent.png", alt="", srcset="")
append script
    script.
        let items = document.querySelectorAll(".rent-item__wrap");
        [...items].forEach((item)=>{
            item.addEventListener("click", function (e) {
                dimmed.classList.toggle('is-active');
                e.target.closest(".rent-item__wrap").classList.toggle("active");
                if (e.target.closest(".rent-item__wrap").classList.contains('active')) {
                    document.body.style['overflow'] = 'hidden';
                } else {
                    document.body.style['overflow'] = 'inherit';
                }
                e.stopPropagation()
            })
        })
        let links = document.querySelectorAll(".rent-item a");
        [...links].forEach((item)=>{
            item.addEventListener("click", function (e) {
                e.stopPropagation()
            })
        })