- var breadcrumpsContent = {about: 'О нас',rent: 'Аренда',gallery: 'Галерея',play: 'Поиграй со мной', menu: 'Меню'}
section.breadcrumps
    a(href="/") Главная >
    span=" "+breadcrumpsContent[pageName]