extends layout.pug
block content
    .rent-layout(style="background-image: url(/images/photos/kachch.jpg)")
    section.breadcrumps 
        | Главная 
        | > 
        span Аренда
    section.rent-items
        .rent-item(style="background-image: url(/images/photos/ne-stoj-na-meste4.jpg)")
            .rent-item__title Корпоративы
            .rent-item__price 1000грн
            img.rent-item__logo(src="/images/particles/logo-rent.png", alt="", srcset="")
            .rent-item__discription 
                p 
                    |Бампербол (футбол в надувных шарах),
                    br
                    | кол-во человек не ограничено, 
                    br
                    | одновременно 6-10 шаров. 
                p 
                    | Цена: 3700 грн / 1 час 
                    br
                    | 5500 грн 1,5 часа 6200 грн / 2 часа. 
                p Аренда #Nestoinameste House презентует для тебя огромный выбор приятных сюрпризов для отдыха. Комфортная локация, кальяны, удобные пуфы, вместительные шатры, шикарный sunset с 2 этажа и многое другое.  Relax! Все для тебя! Здесь все свои!
            img.rent-item__close(src="/images/particles/close-rent.png", alt="", srcset="")
            a.rent-item__telegram(href="https://t.me/nestoinameste27")
                img(src="/images/social/telega.png", alt="", srcset="")
                div.default-button Написать в телеграм
            a.rent-item__call(href="tel:+380502420211")
                div.default-button Заказать
        .rent-item(style="background-image: url(/images/photos/OrJq6.jpg)")
            .rent-item__title Аренда шатра “звезда” 
            .rent-item__price 1500грн
            img.rent-item__logo(src="/images/particles/logo-rent.png", alt="", srcset="")
            .rent-item__discription 
                p 
                    |Бампербол (футбол в надувных шарах),
                    br
                    | кол-во человек не ограничено, 
                    br
                    | одновременно 6-10 шаров. 
                p 
                    | Цена: 3700 грн / 1 час 
                    br 
                    | 5500 грн 1,5 часа 6200 грн / 2 часа. 
                p Включено: инструктаж, судья на поле, несколько вариантов игры. 
            img.rent-item__close(src="/images/particles/close-rent.png", alt="", srcset="")
            a.rent-item__telegram(href="https://t.me/nestoinameste27")
                img(src="/images/social/telega.png", alt="", srcset="")
                div.default-button Написать в телеграм
            a.rent-item__call(href="tel:+380502420211")
                div.default-button Заказать
append script
    script.
        let items = document.querySelectorAll(".rent-item");
        [...items].forEach((item)=>{
            item.addEventListener("click", function (e) {
                e.target.closest(".rent-item").classList.toggle("active");
            })
        })
        let links = document.querySelectorAll(".rent-item a");
        [...links].forEach((item)=>{
            item.addEventListener("click", function (e) {
                e.stopPropagation()
            })
        })